<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <center>
        <h1>LiveLingo Livestream</h1><hr>

      <iframe
        width="800px"
        height="500px"
        src="https://player.cloudinary.com/embed/?cloud_name=ddcep8pbc&public_id=live_stream_bcbcc2fb66d34fec918f93a44bb607e6_hls&profile=cld-live-streaming"
      >
      </iframe>
    </center>
  </body>
</html>
